@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.form{
 display:grid; 
 grid-template-columns: 1fr ; 
 width: 40vw; 
 margin-left: 30vw;
font-size: 20px;
 border-radius: 15px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.3);
 padding: 10px;
 border:solid 2px SlateBlue; 
 background: linear-gradient(to bottom, SlateGray, LightBlue); 
 
}
.form .danger{
 color:red; font-size: 14px; margin-top:-15px
}

.form h2{
 font-family: 'Mansalva', sans-serif; font-size: 30px;
}
.detail img {
 display: block;
 height: 20vw;
 margin: 0 auto;
 width: 20vw;
 border-radius: 50%; box-shadow: 0 2px 5px; border:solid 4px white; margin-top: -30px
}

.detail div{
 color: black;
 font-size: 20px;
}

.form input{
 background-color: #fff;
 border-radius: 15px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.3);
 margin: 10px;
 padding: 0px 10px ;
 width: 200px;
 border:solid 4px linear-gradient(to bottom, SlateGray, LightBlue);; 
 margin: 20px 0px; font-family: 'Mansalva', sans-serif; font-size: 18px;
}